{{ define "main" }}

{{ $wordCount := 0 }}
{{ $readingTime := 0 }}
{{ range .Pages }}
{{ $wordCount = (add $wordCount .WordCount) }}
{{ $readingTime = (add $readingTime .ReadingTime )}}
{{ end }}

<main class="essays">
    <article>
        <header>
            <h2>{{.Title}}</h2>
        </header>
        {{.Content}}
        There are {{ len .Pages }} essays here amounting to {{ $wordCount }} words.
    </article>

    {{ if gt (len (where .Pages "Params.popular" true)) 0 }}
    <h3>Popular</h3>
    <ul>
        {{ range where .Pages "Params.popular" true }}
        <li>
            <div class="meta">{{ .Date.Format "Jan 2006" }}</div>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}

    {{ range .Pages.GroupByDate "2006" }}
    <h3>{{ .Key }}</h3>
    <ul>
        {{ range .Pages }}
        <li>
            <div class="meta">{{ .Date.Format "Jan 2" }}</div>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</main>
{{ end }}