<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .IsPage }}
    <meta name="description" content="{{ .Page.Summary }}">
    {{ else }}
    <meta name="description" content="{{ .Site.Params.Description }}">
    {{ end }}

    <base href="{{ .Site.BaseURL }}">
    <title> {{ if .IsPage }}{{ .Title }} | {{ .Site.Title}}{{ else }}{{ .Site.Title}}{{ end }}</title>
    <link rel="canonical" href="{{ .Permalink }}">

    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <link href="/css/style.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Fira+Mono&display=swap" rel="stylesheet">

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
 </head>
